app/
bootstrap/
config/
docs/
nbproject/
storage/
tests/
vendor/
.buildpath
.idea/
__pycache__/
.project
.settings/
artisan
composer.json
composer.lock
composer.phar
gulpfile.js
package.json
phpspec.yml
phpunit.xml
readme.md
server.php
*.pyc